<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>
      {{ renderData.title }}
    </title>
    
    <style type="text/css">
      body {
        background: linear-gradient(179.15deg, #0D262A 0.73%, #143F4A 22.09%, rgba(31, 125, 131, 0.873478) 50.87%, #1D787E 60.42%), #041D22 !important;
        color: white;
        margin: 0;
        width: 100%;
        font-size: 1em;
        font-family: Bitter;
      }

      a, a:hover, a:visited, a:active {
        text-decoration: none;
        color: white;
      }

      nav {
        text-align: right;
        margin-bottom: 60px;
        font-size: 1.2em;
      }
      #menu-container {
        display: inline-block;
        list-style: none;
        margin-right: 4px;
      }
      #menu-container li {
        display: inline;
        padding: 4px 8px;
      }
      #menu-container li:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      #first-view-container {
        display: grid;
        width: 1200px;
        max-width: 90vw;
        grid-template-columns: 1fr 3fr;
        column-gap: 40px;
        margin: 0 auto;
      }
      #first-view-side {
        display: grid;
        grid-template-rows: auto auto 1fr;
        align-content: center;
        justify-items: center;
        margin: 1.5em 0;
      }
      #first-view-logo img {
        max-width: 100%;
      }
      #first-view-slogen {
        line-height: normal;
        font-size: 1.5em;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        margin: 2em 0 2.5em 0;
      }
      #first-view-button-container {
        position: relative;
        width: 100%;
      }
      #first-view-button {
        width: fit-content;
        padding: 0.7em 1em;
        background: #303740;
        position: absolute;
        font-size: 1.5em;
        cursor: pointer;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%);
        box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
      }
      #first-view-button:hover {
        padding: 0.8em 1.2em;
        height: auto;
      }
      #first-view-image {
        justify-self: end;
      }
      #first-view-image img {
        max-width: 100%;
      }

      @media screen and (max-width: 1200px) {
        #first-view-container {
          width: 100%;
          max-width: 90vw;
          grid-template-columns: 1fr;
        }
        #first-view-side {
          padding-bottom: calc(4 * 1em);
        }
        #first-view-logo img {
          max-height: 150px;
        }
        #first-view-button-container {
          height: 60px;
        }
        #first-view-button {
          bottom: 0;
        }
      }

      #second-view-text {
        line-height: normal;
        font-size: 3em;
        text-align: center;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
        margin: 4em auto 2em auto;
        width: 1200px;
      }

      #second-view-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 0 auto;
        width: 1200px;
      }

      #second-view-features {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        align-content: center;
        justify-items: center;
        font-family: Bitter;
        line-height: normal;
        font-size: 1.25em;
        grid-row-gap: 2em;
        align-self: center;
        padding: 0 1em 0 0;
      }

      .second-view-feature {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 1.2vw;
        width: 100%;
      }

      .list-icon {
        align-self: center;
        line-height: 0;
        font-size: 0;
      }

      .list-icon svg {
        width: 25px;
        height: 25px;
      }

      #second-view-image {
        justify-self: end;
      }

      #second-view-image img {
        width: 100%;
        height: auto;
      }

      @media screen and (max-width: 1200px) {
        #second-view-container {
          grid-template-columns: 1fr;
          margin: 0 auto;
          max-width: 90vw;
        }
        #second-view-text {
          max-width: 90vw;
        }
        #second-view-features {
          grid-row: 2;
          align-self: center;
        }
        .second-view-feature {
          width: auto;
          grid-template-columns: auto auto;
        }
      }
    </style>
  </head>

  <body>
  
    <nav>
      <ul id="menu-container">
        <li><a href="/">Home</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/download">Download</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>

    {{ content | safe }}
  </body>
</html>