<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>
      {{ renderData.title }}
    </title>

    <script>
      document.addEventListener("DOMContentLoaded", function(){
      const elNav = document.querySelector("nav")
      const elMobileMenu = document.querySelector("#mobile-menu")
      const elMenu = document.querySelector("#menu-container")

      window.addEventListener('resize', () => {
        const width = window.innerWidth
        const height = window.innerHeight

        if (width < 600) {
          elMenu.style.display = "none"
          elMobileMenu.style.display = "inline-block"
          elNav.className = ""
        } else {
          elMenu.style.display = "block"
          elMobileMenu.style.display = "none"
          elNav.className = ""
        }
      });

        elMobileMenu.addEventListener("click", () => {
          elMenu.style.display === "block" ? elMenu.style.display = "none" : elMenu.style.display = "block"
          console.log(elNav.className)
          elNav.className = elNav.className?.includes("active") ? "" : `active`
        })
      })
      </script>

    <style type="text/css">
      body {
        background: linear-gradient(179.15deg, #0D262A 0.73%, #143F4A 22.09%, rgba(31, 125, 131, 0.873478) 50.87%, #1D787E 60.42%), #041D22 !important;
        color: white;
        margin: 0;
        width: 100%;
        font-size: 1em;
        font-family: Bitter;
        box-sizing: border-box;
      }

      a, a:hover, a:visited, a:active {
        text-decoration: none;
        color: white;
      }

      ul {
            padding-inline-start: 0;
      }
    </style>
    <link href="./css/menu.css" rel="stylesheet">
    <link href="./css/first-view.css" rel="stylesheet">
    <link href="./css/second-view.css" rel="stylesheet">
    <link href="./css/third-view.css" rel="stylesheet">
  </head>

  <body>
  
    <nav>
      <div id="mobile-menu"></div>
      <ul id="menu-container">
        <li><a href="/">Home</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/download">Download</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>

    {{ content | safe }}
    <div id="footer-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
      </ul>
      <div id="copyright">© 2021 Package Scry</div>
    </div>
  </body>
</html>