<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>
      {{ title }}
    </title>

    <script src="/js/default.js"></script>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bitter" />
    <link href="/css/default.css" rel="stylesheet">
    <link href="/css/first-view.css" rel="stylesheet">
    <link href="/css/second-view.css" rel="stylesheet">
    <link href="/css/third-view.css" rel="stylesheet">
  </head>

  <body>
  
    <nav>
      <div id="mobile-menu"></div>
      <ul id="menu-container">
        <li><a class="menu-item" href="/">Home</a></li>
        <li><a class="menu-item" href="/pricing">Pricing</a></li>
        <li><a class="menu-item" href="/blog">Blog</a></li>
        <li><a class="menu-item" href="/about">About</a></li>
        <li><a class="menu-item" href="/download">Download</a></li>
        <li id="menu-login">
          <span class="menu-item" >My account</span><span id="down-arrow">▼</span>
          <div class="dropdown">
            <a class="dropdown-item" href="/subscriptions">My subscriptions</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
    </nav>

    {{ content | safe }}
    
    <div id="third-view-border">
    </div>
    <div id="third-view-container">
      <div id="third-view-follows">
        <div id="header">
          Follow us
        </div>
        <div class="icon">
          <img src="/img/t.png" alt="twitter" />
        </div>
        <div class="icon">
          <img src="/img/reddit.png" alt="reddit" />
        </div>
        <a class="icon" href="/blog">
          <img src="/img/logo_256.png" alt="package scry blog" />
        </a>
      </div>
      <div id="third-view-separator">
      </div>
      <div id="third-view-subscribe">
        <div id="subscribe-text">
          Be up to date with our latest features
        </div>
        <div id="subscribe-input-container">
          <input type="email" id="subscribe-input" placeholder="Email adress" />
          <div id="subscribe-button" class="button">
            Subscribe
          </div>
        </div>
        <div id="subscribe-checkbox-container">
          <input type="checkbox" id="subscribe-checkbox" />
          <div id="subscribe-terms">
            Accept terms & conditions
          </div>
        </div>
      </div>
    </div>
    <div id="footer-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact-us">Contact us</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
      </ul>
      <div id="copyright">© 2021 Package Scry</div>
    </div>
  </body>
</html>