#first-view-container {
  box-sizing: border-box;
  display: grid;
  width: 1200px;
  grid-template-columns: 13fr 27fr;
  column-gap: 2rem;
  padding: 0 1rem;
  margin: 0 auto;
}
#first-view-side {
  display: grid;
  grid-template-rows: auto auto 1fr;
  align-content: center;
  justify-items: center;
  margin: 1.5em 0;
}
#first-view-logo img {
  max-width: 100%;
}
#first-view-slogen {
  line-height: normal;
  font-size: 1.5em;
  text-align: center;
  text-shadow: var(--default-shadow);
  margin: 2em 0 2.5em 0;
}
#first-view-button-container {
  position: relative;
  width: 100%;
}
#first-view-button {
  width: max-content;
  padding: 0.7em 1em;
  background: #303740;
  position: absolute;
  font-size: 1.5em;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
#first-view-button:hover {
  padding: 0.8em 1.2em;
  height: auto;
}
#first-view-image {
  justify-self: end;
  margin: 1rem 0;
}
#first-view-image img {
  max-width: 100%;
}
@media screen and (max-width: 1200px) {
  #first-view-container {
    width: 100%;
    max-width: 80vw;
    grid-template-columns: 1fr;
  }
  #first-view-side {
    padding-bottom: calc(4 * 1em);
  }
  #first-view-logo img {
    max-height: 150px;
  }
  #first-view-button-container {
    height: 60px;
  }
  #first-view-button {
    bottom: 0;
  }
}
